* {font-family: 'Roboto', sans-serif;}

html, body {
    margin: 0;
    height: 100%;
    background: rgb(180, 121, 255);
    background: linear-gradient(135deg, rgba(180, 121, 255, 1) 0%, rgba(236, 144, 230, 1) 35%, rgba(190, 244, 255, 1) 100%);
}

hr { border: solid 1px white; background: white; }

.view { height: 100%; }

textarea {
    box-sizing: border-box;
    resize: none;
    outline: none;
    border: none;
    width: 100%;
    height: 100%;
    font-weight: 100;
    font-size: 1.2em;
    padding: 0 1em;
}

.container {
    width: 50%;
    height: 100%;
    margin: 0 auto;
}
@media (max-width: 900px) {  .container {width: 60%;}  }
@media (max-width: 750px) {  .container {width: 80%;}  }

.card {
    height: 40%;
    background-color: white;
    padding: 5% 0;
    border-radius: 10px;
    box-shadow: 0 0 20px 0 rgba(0,0,0,0.3);
}

.description {
    color: white;
    width: 100%;
    text-align: center;
}
h1.description {
    margin-top: 0;
    padding-top: 2em;
    font-weight: 500;
    font-size: 2em;
}
h2.description {
    margin-bottom: 1em;
    font-weight: 100;
    font-size: 1em;
}
h3.description {
    margin: 0;
    width: auto;
    text-align: left;
    font-weight: 100;
    font-size: 1.2em;
    color: #313131;
}

input {
    display: block;
    width: 15rem;
    margin: 1em auto;
    border: none;
    outline: none;
    border-radius: 10px;
    padding: 0.6em;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.4);
}

button.auth {
    display: block;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    color: white;
    padding: 0.5em;
    text-align: center;
    text-decoration: none;
    font-weight: 100;
    font-size: 1.1em;
    width: 10rem;
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.4);
}
button.auth:hover { cursor: pointer; }

button.add {
    border: none;
    background: white;
    border-radius: 100%;
    outline: none;
    margin-left: 5px;
}
button.add:hover { cursor: pointer; }

.panel {
    box-sizing: border-box;
    background: rgba(255, 255, 255, 0.5);
    width: 50%;
    margin: 0 auto;
    font-size: 0.8em;
    padding: 0.8em;
    border-radius: 0 0 5px 5px;
}
@media (max-width: 900px) {  .panel {width: 80%;}  }
@media (max-width: 750px) {  .panel {width: 90%;}  }

img.icon {
    height: 1em;
    width: 1em;
}